body {
    background-image: url('office-chair-spin.gif');

    background-size: cover;
    background-repeat: no-repeat;
    
}
a, h1, h2, h3, h4, h5, h6 {
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: inline-block;
}
#logir{

    color:#fff;
    background-color:#32373c;
    background-position: center;
    text-decoration:none;
    padding:calc(.667em + 2px) calc(1.333em + 2px);
    font-size:1.125em;
    color: #97ac9f;
    pointer-events: auto;
}
#registerModal{
    color:#fff;
    background-color:#32373c;
    background-position: center;
    text-decoration:none;
    padding:calc(.667em + 2px) calc(1.333em + 2px);
    font-size:1.125em;
    color: #97ac9f;
    pointer-events: auto;
}
#Register
select{
    background-color: #97ac9f;
    text-decoration: none;
    color: black;
}
select::selection{
    color:#000;
    background: yellow;
}
option::selection{
    color:#000;
    background: yellow;
}
input{
    background-color: #97ac9f;
    text-decoration: none;
    color: black;
}
#srss{
    background-color: #32373c;
    position: absolute;
    left: 20%;
    border: 3px;
    border: #97ac9f;
    text-decoration: none;
    color: #97ac9f;

}
#srss::selection{
    color:#000;
    background: yellow;
}

a:hover {
    border-color: rgba(0, 0, 0, 0.8);
}
h1{
    background-color: mediumblue;

    text-align: center;
    text-decoration: none;
    color: #97ac9f;
    margin-bottom: 20px;
}
a{
transition: border-color 0.3s ease;
background-color: #97ac9f;
    text-decoration:none;
    color: black;
    text-align: center;

}

a::selection{
    color:#000;
    background: yellow;
}
h1::selection{
    color:#000;
    background: yellow;
}
h3::selection{
    color:#000;
    background: yellow;
}
h2::selection{
    color:#000;
    background: yellow;
}
th::selection{
    color:#000;
    background: yellow;
}
label::selection{
    color:#000;
    background: yellow;
}
input::selection{
    color:#000;
    background: yellow;
}
table td::selection{
    color:#000;
    background: yellow;
}
th, td{
    pading: 15px;
    border-left: 1px solid #97ac9f;
    border-bottom: 1px solid #97ac9f;
}


table{
    color:#fff;
    background-color:#32373c;
    background-position: center;
    text-decoration:none;
    padding:calc(.667em + 2px) calc(1.333em + 2px);
    font-size:1.125em;
    color: #97ac9f;
    pointer-events: auto;
}
